@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin underline {
    position: absolute;
    bottom: -20px;
    left: 0;
    margin: auto;
    content: "";
    width: 42px;
    height: 8px;
    background: #fde428;
    border-radius: 8px;
}

@mixin centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Title {
    font-weight: 600;
    font-size: 40px;

    @media screen and(max-width) {
        font-size: 30px;
    }
}