body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background: transparent;
  transition: all ease 0.5s;
  z-index: 99;
}

.header.fixed {
  background: #002e5be7;
  backdrop-filter: blur(5px);
}

.header__left a {
  color: white;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  position: relative;
}

.header__left a:after {
  content: "WP";
  font-size: 12px;
  color: black;
  text-align: center;
  position: absolute;
  top: -10px;
  right: -20px;
  width: 41px;
  height: 15px;
  background: #fde428;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}

.header .mobile-menu {
  --box-shadow-color: rgba(255, 101, 47, 0.2);
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header .mobile-menu__burger,
.header .mobile-menu__burger::before,
.header .mobile-menu__burger::after {
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px var(--box-shadow-color);
  transition: all 0.5s ease-in-out;
}

.header .mobile-menu__burger::before,
.header .mobile-menu__burger::after {
  content: "";
  position: absolute;
}

.header .mobile-menu__burger::before {
  transform: translateY(-10px);
}

.header .mobile-menu__burger::after {
  transform: translateY(10px);
}

.header .appbar {
  width: 35%;
  transition: all ease 0.5s;
  height: 100vh;
  background: #2a5178;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4rem 1rem;
  z-index: 2;
  transform: translateX(110%);
}

.header .appbar .close-btn {
  background: none;
  color: #fde428;
  border: none;
  font-size: 32px;
  float: right;
  transform: translate3d(0, -50px, 0);
  border-radius: 3px;
}

.header .appbar.open {
  transform: translateX(0);
}

.header .appbar__link {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.header .appbar .navbar__item {
  margin-top: 28px;
}

.header .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100vh;
  transition: all ease 0.2s;
  background: rgba(0, 0, 0, 0.6);
}

.header .overlay.open {
  z-index: 1;
  width: 100vw;
}

.header .mobile-menu.open .mobile-menu__burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}

.header .mobile-menu.open .mobile-menu__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.header .mobile-menu.open .mobile-menu__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.header .navbar {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header .navbar {
    display: none;
  }
}

.header .navbar .dropdown {
  position: relative;
  display: flex;
}

.header .navbar .dropdown:hover .dropdown__content {
  height: 100px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.header .navbar .dropdown__content {
  top: 40px;
  transition: all ease 0.5s;
  position: absolute;
  background: white;
  border-radius: 4px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, -40px, 0);
}

.header .navbar .dropdown__content a {
  display: block;
  text-decoration: none;
  color: #002e5b;
  text-transform: lowercase;
  padding: 4px 25px;
}

.header .navbar__item {
  font-size: 15px;
  color: white;
  margin-right: 30px;
  padding: 10px 0;
  text-decoration: none;
  font-family: "Open Sans";
}

.header .navbar__btn {
  border: none;
  background: #fde428;
  border-radius: 8px;
  padding: 10px 21px;
  color: #002e5b;
  border: 2px solid transparent;
  transition: all ease 0.5s;
  font-weight: 600;
}

.header .navbar__btn:hover {
  background: transparent;
  border: 2px solid #fde428;
  color: white;
}

.burger-holder {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .burger-holder {
    display: block !important;
  }
}

.main__hero {
  padding-top: 7rem;
  background: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  text-align: center;
}

.main__hero .heading {
  font-weight: 600;
  color: white;
  font-size: 50px;
  position: relative;
}

.main__hero .heading:before {
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: auto;
  content: "";
  width: 42px;
  height: 8px;
  background: #fde428;
  border-radius: 8px;
  right: 0;
}

.main__hero .subtitle {
  font-family: "Open sans";
  font-size: 20px;
  color: white;
  margin-bottom: 70px;
}

.main__hero .play-btn {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  fill: #fde428;
  transition: all ease 0.5s;
}

.main__hero .play-btn:hover {
  background: #fde428;
}

.main__hero .play-btn:hover .path {
  fill: white;
}

.main__hero .play-btn img {
  width: 100%;
}

.service {
  padding: 060px 0;
  background: #f0f2f5;
}

.service__title {
  font-weight: 600;
  font-size: 40px;
  color: #002e5b;
  position: relative;
  margin-bottom: 40px;
}

@media screen and (max-width) {
  .service__title {
    font-size: 30px;
  }
}

.service__title:before {
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: auto;
  content: "";
  width: 42px;
  height: 8px;
  background: #fde428;
  border-radius: 8px;
}

.service__subtitle {
  color: #3a3a3a;
  font-family: "Open Sans";
  font-size: 16px;
}

.service .service__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service .service__inner .inner__left {
  width: 48%;
}

.service .service__inner .inner__right {
  width: 48%;
  filter: drop-shadow(0px 10px 4px #4a4a4b50);
  max-height: 300px;
}

.service .service__inner .inner__right img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slick-slide {
  border-radius: 8px !important;
  overflow: hidden;
}

.slick-dots {
  transform: translatey(16px);
}

.slick-dots li button {
  width: 15px;
  height: 15px;
  border: 2px solid #2a5178;
  border-radius: 50%;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li.slick-active button {
  background: #002e5b;
  border: 2px solid #002e5b;
}

.slick-arrow {
  display: none !important;
}

.opportunities {
  padding: 100px 0;
}

.opportunities__subtitle {
  color: #002e5b;
  font-size: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.opportunities__title {
  color: #002e5b;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  position: relative;
}

@media screen and (max-width) {
  .opportunities__title {
    font-size: 30px;
  }
}

.opportunities__title:before {
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: auto;
  content: "";
  width: 42px;
  height: 8px;
  background: #fde428;
  border-radius: 8px;
  right: 0;
}

.opportunities__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opportunities__inner .inner__left {
  width: 48%;
}

.opportunities__inner .inner__left img {
  width: 100%;
}

.opportunities__inner .inner__right {
  width: 48%;
}

.features {
  background-color: #002e5b;
  padding: 80px 0;
}

.features__title {
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-align: center;
  position: relative;
}

@media screen and (max-width) {
  .features__title {
    font-size: 30px;
  }
}

.features__title::before {
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: auto;
  content: "";
  width: 42px;
  height: 8px;
  background: #fde428;
  border-radius: 8px;
  right: 0;
}

.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.features__content .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin-bottom: 70px;
}

.features__content .item__icon {
  width: 50px;
  height: 50px;
}

.features__content .item__content {
  margin-left: 20px;
}

.features__content .item__name {
  font-size: 16px;
  color: white;
  margin-bottom: 18px;
  font-weight: 600;
}

.features__content .item__text {
  font-family: "Open Sans";
  font-size: 12px;
  color: #99abbd;
}

.target {
  background: #f0f2f5;
  padding: 100px 0;
}

.target__title {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #002e5b;
  margin-bottom: 80px;
}

@media screen and (max-width) {
  .target__title {
    font-size: 30px;
  }
}

.target__title:before {
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: auto;
  content: "";
  width: 42px;
  height: 8px;
  background: #fde428;
  border-radius: 8px;
  right: 0;
}

.target__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.target__card {
  width: 31%;
  background: white;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.target__card .img-holder {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fde428;
  padding: 20px;
  box-sizing: border-box;
  margin: -19% auto 0 auto;
}

.target__card .img-holder img {
  width: 100%;
}

.target__card__title {
  color: #2a5178;
  font-size: 20px;
}

.target__card__text {
  color: #2a5178;
  font-size: 14px;
  opacity: 0.7;
}

.meetings {
  background: url("../img/zoombg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 20px 0;
}

.meetings__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meetings__title {
  font-weight: 600;
  font-size: 40px;
  color: white;
  max-width: 780px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width) {
  .meetings__title {
    font-size: 30px;
  }
}

.meetings .btn_gourp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.meetings__btn {
  background: #fde428;
  border: 2px solid transparent;
  padding: 14px 30px;
  font-weight: 600;
  transition: all ease 0.5s;
  display: inline-block;
  border-radius: 8px;
  margin: 0 15px;
  color: #2a5178;
}

.meetings__btn:hover {
  background: transparent;
  border: 2px solid #fde428;
  color: white;
}

.meetings__btn--transparent {
  background: transparent;
  border: 2px solid #fde428;
  color: white;
}

.meetings__btn--transparent:hover {
  background: #fde428;
  color: #2a5178;
}

.meetings .copyright {
  max-width: 355px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
}

.meetings .copyright a {
  color: #002e5b;
}
